<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" type="text/css" href="css/style.css" /> -->
  <title><%=title%></title>
  <style>
    * {
      padding: 0px;
      margin: 0px;
    }
    ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }

    body,
    html {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    h1 {
      text-transform: capitalize;
      margin: 0px;
    }

    a {
      text-decoration: none;
      color: black;
    }

    .container {
      height: 100%;
      width: 100%;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
    }

    .create-task-container {
      position: fixed;
      top: 0;
      left: 0px;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      box-shadow: 0px 0px 18px 0px rgb(167, 167, 167);
      width: 25%;
      padding: 2rem;
    }

    h1 {
      color: rgb(36, 36, 36);
    }

    .inputform {
      margin-top: 1rem;
    }

    Button {
      height: 40px;
      width: 40%;
      border: 1px solid rgb(175, 175, 175);
      outline: none;
      margin: 20px 0px;
      cursor: pointer;
    }

    input,
    select {
      height: 40px;
    }

    input,
    textarea,
    select {
      width: 95%;
      border: 1px solid rgb(175, 175, 175);
      outline: none;
      padding: 6px;
      margin-bottom: 10px;
    }

    input:focus::placeholder {
      color: transparent;
    }
    textarea:focus::placeholder {
      color: transparent;
    }

    .tasklist {
      margin-left: 29%;
      padding: 2rem;
      width: 70%;
    }
    .tasklist > ul {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1rem;
      height: 400px;
    }

    .tasksview > a > li > ul {
      list-style: none;
      padding: 0px;
    }
    .tasksview > a > li > ul > li {
      margin-bottom: 10px;
      overflow: hidden;
    }

    .tasksview {
      background-color: #fff;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      margin-top: 0.8rem;
      padding: 1rem;
      box-shadow: 0px 0px 8px 0px rgb(201, 201, 201);
    }
    .tasksview > a > li {
      text-transform: capitalize;
    }

    .taskbuttonsdiv {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    .task-btn {
      width: 45% !important;
      height: 30px;
      margin: 0px;
    }
    .delete-btn {
      margin: 0px;
      height: 30px;
      width: 100%;
    }

    .tasklist-container {
      justify-content: start !important;
    }

    textarea {
      vertical-align: middle;
    }

    label {
      display: inline-block;
      width: 120px;
    }

    .add-new-task input,
    .add-new-task .due-date,
    .add-new-task select,
    .add-new-task textarea {
      width: 60% !important;
    }

    .type-text-label {
      width: 116px !important;
    }

    @media only screen and (max-width: 500px) {
      .container {
        height: 100%;
        width: 100%;
        padding: 0px !important;
        box-shadow: none;
        border-radius: none;
      }
      h1 {
        margin-top: 2rem !important;
      }

      .tasklist {
        margin: auto auto;
        margin-top: 3rem;
        width: 95%;
        height: 55%;
        padding: 0.5rem 0.5rem;
      }

      .tasksview {
        height: 35px;
        margin-top: 1.2rem;
      }
      input {
        height: 45px;
        width: 75%;
      }
      .inputform {
        margin: auto auto;
        margin-top: 6rem;
        display: flex;
        width: 80%;
        justify-content: space-between;
        align-items: center;
      }
    }

    .periodType {
      margin-bottom: 10px;
    }
  </style>
</head>
